<div class="page-header">
        <h1>Payment</h1>
      </div>

      <p class="lead">A <%= @year %> year loan of $<%= @dollar %>, with an annual interest rate of <%= @interest %>%, requires a monthly payment of $<%= @payment %>.</p>
